importFrom("methods")
exportClasses("fingerprint")
exportMethods("fold", "euc.vector", "distance", "random.fingerprint")
export("fp.sim.matrix", "fp.to.matrix", "fp.factor.matrix", "fp.read.to.matrix", "fp.read")
